@charset "UTF-8";

table{
	table-layout: fixed;
	border-collapse: collapse;
}

tr{
	padding: 0px;
	max-height: 100px;
}

td{
	border: 1px solid black;
	text-align: center;
	overflow: hidden;
	padding: 0px;
	height: 100px;
}

