@charset "UTF-8";

h1{
	text-align: center;
	font-size: 50px;
}

table{
	table-layout: fixed;
	border-collapse: collapse;
	margin: auto;
	box-shadow: 5px 10px;
}

tr{
	padding: 0px;
	max-height: 100px;
}

td{
	border: 2px solid black;
	text-align: center;
	overflow: hidden;
	padding: 0px;
	height: 100px;
}

output{
	font-size: 20px;
	font-weight: bold;
}

section{
	text-align: center;
}

#opponentName{
	text-align: right;
}

#victory{
	font-size: 50px;
	color: green;
}
